aws.batch.maxParallelTransfers = 1

docker.enabled = true
docker.registry = 'quay.io'

process {
    publish_dir_mode = 'copy'
    publishDir = "${params.outdir}"

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 1

    queue = "${QUEUE}"
    cpus = 24
    memory =  '48 GB'
}